<%title t('user.login')%>

<% form_for @user_session, :url => {:controller => 'sessions', :action => 'create'} do |f| -%>
<div class"column">
<%= f.error_messages %>	
<%= f.label :login , t('user.login')%>
<%= f.text_field :login %>

<%= f.label :password, t('user.password') %>
<%= f.password_field :password %>

<h2><%=t('session.new.use_openid')%></h2>

<%= f.label :openid_identifier, t('user.openid_identifier')%>
<%= f.text_field :openid_identifier %>
<%= link_to t('user.open_id_help'), t('user.open_id_help_url'), :popup => true %>

<div class="column wide">
	<fieldset class="buttons">
		<%= submit_tag t('user.login') %>
	</fieldset>
</div>
<% end -%>
