<%title t('user.login')%>

<% form_for @user_session, :url => {:controller => 'sessions', :action => 'create'} do |f| -%>
<div class"column">
<%= f.error_messages %>	
<%= f.label :login , t('user.login')%>
<%= f.text_field :login %>

<%= f.label :password, t('user.password') %>
<%= f.password_field :password %>
</div>
<div class="column wide">
	<fieldset class="buttons">
		<%= submit_tag t('user.login') %>
	</fieldset>
	<p><%= link_to t('user.forgot_password'), new_password_reset_path %></p>
</div>
<div class"column">
<h3><%=t('session.new.use_openid')%></h3>

<%= f.label :openid_identifier, t('user.openid_identifier'), :class => 'xxs'%> <%= link_to t('user.open_id_help'), t('user.open_id_help_url'), :class => "plain", :popup => true %><br/>
<%= f.text_field :openid_identifier %>

</div>
<div class="column wide">
	<fieldset class="buttons">
		<%= submit_tag t('user.login') %>
	</fieldset>
</div>
<% end -%>
