<tr class="<% if consultation_counter % 2 == 0 %>even<% else %>odd<% end %>">
		<td><% if consultation.pro %><% unless consultation.consultation_photos.empty?%><%= image_tag(consultation.consultation_photos.first.public_filename(:thumb)) %><% end %><% end %></td>
    <td><%=link_to h( consultation.title), consultation %></td>
    <td><%=safe_truncate(h(consultation.body), :length => 30) %></td>
    <td><%=link_to h(consultation.user.login), consultation.user %></td>
    <% if current_user && current_user == consultation.user %>
		<td><%= link_to 'Edit', edit_user_consultations_path(current_user) %></td>
    <% end %>
		<% if current_user_in_role? User::ADMIN %>
		<td><%= link_to 'Destroy', consultation, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>
  </tr>