<div class="column wide"><%= f.error_messages %></div>
<div class="column">
	<%= f.label :title, t('post.title') %>
	<%= f.text_field :title %>
</div>
<div class="column wide">
	<%= f.label :body, t('post.body') %> 
	<%= f.text_area :body %>
	<%= link_to_function t('pages.edit.textile'),
													     "window.open('http://redcloth.org/hobix.com/textile/quick.html', '#{t('pages.edit.textile')}', 'height=700,width=510,status=yes,menubar=no,location=no,toolbar=no,scrollbars=yes')" %><br/>
</div>
<div class="column wide">
	<%= label_tag :preview, t('post.preview') %>
	<div id="preview"><br/><br/><br/><br/><br/><br/></div>
	<%= t('post.edit.preview_message')%>
	<%= observe_field :post_body, :url => {:action => 'preview'}, :update => :preview, :with => 'body', :frequency => 10 %>
</div>