<% title @post.title %>
<% meta_description @post.title %>
<% meta_keywords t('post.meta_keywords')%>
<div class="column wide">
	<%= render :partial => 'users/profile', :locals => {:user => @post.user}%>
	<%= textilize @post.body %>
</div>
<div class="column wide">
	<% if @user %>
	<%= link_to image_tag('feed-icon-14x14.png', :alt => t('post.feed'), :class => 'feed'), user_posts_path(@user, :format => :atom), :class => 'plain' %>
	<%= link_to t('post.feed'), user_posts_path(@user, :format => :atom), :class => 'plain' %>	
	<% else %>
	<%= link_to image_tag('feed-icon-14x14.png', :alt => t('post.feed'), :class => 'feed'), posts_path(:format => :atom), :class => 'plain' %>
	<%= link_to t('post.feed'), posts_path(:format => :atom), :class => 'plain' %>
	<% end %>
	<br/>
	<% if @user %><%= link_to t('common.back'), user_posts_path(@user) %><% else %><%= link_to t('common.back'), posts_path%><% end %>
	<% if current_user && @user == current_user %> | <%= link_to t('common.edit'), edit_user_post_path(@user, @post) %><% end %>
</div>
<div	class="comments column wide">
	<div id="add_comment" class="comment edit">
		<% if logged_in? %>
			<%= link_to_remote(t('comment.add'), :url => new_post_comments_path(@post), :method => :get) %>
		<%else%>
			<%= t('comment.not_logged_in')%>
		<%end%>
	</div>
	<%= render :partial => 'comments/index', :locals => {:commentable => @post} %>
</div>
<script type="text/javascript" charset="utf-8">
	//<![CDATA[
	$$("a.aliment_link").each(function(link)
	{
		link.observe('mouseover', function(event)
		{
			var element = this.next("div.aliment_preview");
			if(element == null)
			{
				element = this.up().next("div.aliment_preview")
			}
			if(element != null)
			{
				var y = (event.pointerY() - 12) + 'px';
				var x = (event.pointerX() - 12) + 'px';
				element.setStyle({'top':y, 'left':x});
				var id = element.id;
				hide_other_aliment_previews(id);
				new Ajax.Updater(id, this, {method:'get', onComplete:function(result)
				{
					var arrayPageSize = getPageSize();
	        $('overlay').setStyle({ width: arrayPageSize[0] + 'px', height: arrayPageSize[1] + 'px' });

	        new Effect.Appear(this.overlay, {to:0.5});
					
					$(id).appear();
					$('overlay').observe('mouseover', function(event)
					{
						$(id).fade();
						this.fade();
					});
				}});
			}
		});
	});
	//]]>
</script>