<% title @post.title %>
<% meta_description @post.title %>
<% meta_keywords t('post.meta_keywords')%>
<div class="column wide">
	<%= render :partial => 'users/profile', :locals => {:user => @post.user}%>
	<%= textilize @post.body %>
</div>
<div class="column wide">
	<% if @user %><%= link_to t('common.back'), user_posts_path(@user) %><% else %><%= link_to t('common.back'), posts_path%><% end %>
	<% if @user == current_user %> | <%= link_to t('common.edit'), edit_user_post_path(@user, @post) %><% end %>
</div>
<div	class="comments column wide">
	<div id="add_comment" class="comment edit">
		<% if logged_in? %>
			<%= link_to_remote(t('comment.add'), :url => new_post_comments_path(@post), :method => :get) %>
		<%else%>
			<%= t('comment.not_logged_in')%>
		<%end%>
	</div>
	<%= render :partial => 'comments/index', :locals => {:commentable => @post} %>
</div>