<%title t('categories.show.title', :category => @category.name)%>
<%meta_description t('categories.meta_description_for', :category => @category.name)%>
<%meta_keywords @category.name%>
<div class="column wide">
	<%= textilize(@category.description) %>
</div>
<div class="column wide">
<table cellspacing="0">
	<thead>
	<tr>
		<th><%=  Aliment.human_attribute_name 'name' %></th> 
		<th><%= Aliment.human_attribute_name 'pinyin'%></th>
		<th><%= Aliment.human_attribute_name 'chinese'%></th>
		<th><%= t('aliment.savor') %></th>
		<th><%= t('aliment.temperature') %></th>
		<th><%= t('aliment.category') %></th>
	<% if current_user_in_role? User::EDITOR %>
		<th></th>
	<% end %>
	<% if current_user_in_role? User::ADMIN %>
		<th></th>
	<% end %>
  </tr>
	</thead>
	<tbody>
		<%= render :partial => "aliments/table", :collection => @aliments, :as => :aliment %>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="9">
				<%= will_paginate @aliments , :params => params %>
			</td>
		</tr>
	</tfoot>
</table>
</div>
<%= link_to t('categories.show.back'), categories_path %>